.paquetesButtom:hover {
    -fx-border-color: #FBE795 ;
    -fx-border-width: 0px 0px 0px 3px;
}

.empleadosButtom:hover {
    -fx-border-color: #B44FFF ;
    -fx-border-width: 0px 0px 0px 3px;
}


.clientesButtom:hover {
    -fx-border-color: #53FFE8 ;
    -fx-border-width: 0px 0px 0px 3px;
}

.exitButtom:hover {
    -fx-border-color: #FF2A2A ;
    -fx-border-width: 0px 0px 0px 3px;
}

.usuarioButtom:hover {
    -fx-border-color: #D1FFCF ;
    -fx-border-width: 0px 0px 3px 0px;
}

.root{
    -fx-background-radius: 5;
}

